@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

#home-nav{
    background-image: url('assets/mobile/image-header.jpg');
    background-size: cover;
    height: 500px;
}

#home-title, #home-link{
    font-family: 'Fraunces', serif;
}

#home-paragraph, #home-client, #home-name-client{
    font-family: 'Barlow', sans-serif;
}

#home-graphic{
    background-image: url('assets/mobile/image-graphic-design.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#home-photography{
    background-image: url('assets/mobile/image-photography.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.icon-footer{
    color: hsl(176, 69%, 22%);
}

#links-nav{
    display: none;
}

@media (min-width: 767px){
    #home-nav{
        background-image: url('assets/desktop/image-header.jpg');
        background-size: cover;
        background-position: center;
        height: 700px;
    }

    #home-graphic{
        background-image: url('assets/desktop/image-graphic-design.jpg');
        background-size: cover;
        background-position: center;
        height: 550px;
    }

    #home-photography{
        background-image: url('assets/desktop/image-photography.jpg');
        background-size: cover;
        background-position: center;
        height: 550px;
    }

    #home-testimonials{
        height: 1250px;
    }

    #icon-hamburger{
        display: none;
    }

    #links-nav{
        display: inline;
        justify-content: flex-end;
    }
}

@media (min-width: 900px){
    #home-testimonials{
        height: 600px;
    }
}